.selectable:hover {
  background-color: #90ee90;
}

.selected {
  background-color: dodgerblue !important;
  color: white;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.links h2 {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.647);
}

.box {
  width: 90%;             /* responsive */
  max-width: 1000px;      /* keeps it from being too wide */
  margin: 30px auto;      /* centers horizontally */
  background-color: rgb(253, 253, 253);
  box-shadow: 0 0 10px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.box > div{
  width: 90px;
  height: 90px;
  background-image: url("../data/computer-sprite.png");
  background-size: 100% 100%;
  display:block;
}   

.box #reserved{ /*Change to red when the computer is reserved*/
  background-image: url("../data/red.png");
}

.box #in-use{ /*Change to red when the computer is reserved*/
  background-image: url("../data/green.png");
}

.box > div > .number{
  padding-top: 18%;
  margin-left:auto;
  width: 80%;
  height: 52%;
  text-align: center;
  color: white;
  font-size: 4vh;
  text-shadow: 1px 1px gray;
  font-family: "Courier New";
}

.box > div > .name{ 
  width: 80%;
  text-align: center;
  margin-left:auto;
  font-size: 2vh;
  color: black;
  text-shadow: 1px 1px white;
}

.box img {
  width: 60px;
  height: 60px;
}

.links nav div{
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 10px;
}

.links a {
  display: block;
  text-align: center;
  color: black;
}

#currentlyhere{
  background-color: #364B46;
}

#currentlyhere a{
  color: white;
}

.links nav {
  background-color: var(--Subclr);
  
  width: 20%;               /* responsive width */
  min-width: 150px;
  min-height: 200px;        /* limit width on large screens */
                            /* instead of hardcoded height */
  
  border-radius: 10px;
  border-right: 3px inset var(--Mainclr);
  border-bottom: 3px inset var(--Mainclr);
  margin-top: 20px;
  margin-left: 20px;        /* centers it horizontally */

  font-weight: bold;
  font-size: 1rem;
}


.table {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
  height: 60%;
  min-width: 150px;
  min-height: 500px;
  background-color: var(--Subclr);
  border-radius: 10px;
  padding: 10px;
  border-right: 3px inset var(--Mainclr);
  border-bottom: 3px inset var(--Mainclr);
}

.box-buttons{
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.box-buttons button {
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: seagreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.box-buttons #Clear{
  background-color: #6A8977;
}

.box-buttons button:hover {
  background-color: mediumseagreen;
}

.box-buttons #Clear:hover{
  background-color: mediumseagreen;
}



