.login-register {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 35px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 30%);
}


.index-body h1 {
  background-color: rgba(31, 129, 11, 0.582);
  box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
}


.index-body nav {
  background-color: rgba(31, 129, 11, 0.582);
  padding: 30px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 30%);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.index-body h2 {
  text-align: right;
}

.index-body nav {
  text-align: center;
}

.links {
  display: block;
  margin-bottom: 15px;
}

.dropme {
  display: block;
  margin-bottom: 5px;
}

.after-form {
  text-align: center;
}

.after-form input {
  margin-bottom: 10px;
}

.dropme-input,
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container p {
  text-align: center;
  font-size: 0.9em;
}

