:root {
  --Mainclr: #7EAE96
  --BGclr: #FFFFFF
}


.login-register {
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.849);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: rgb(94, 94, 93);
  padding: 30px;
  border-radius: 35px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.418);
}

* {
  margin: 0;
  padding: 0;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.dropme {
  display: block;
  margin-bottom: 5px;
}

.after-form {
  text-align: center;
}

.after-form input {
  margin-bottom: 10px;
}

.dropme-input,
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: rgb(94, 94, 93);
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container p {
  text-align: center;
  font-size: 0.9em;
}
