.login-register {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 35px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.418);
}

* {
  margin: 0;
  padding: 0;
}

.header-bar {
  display: flex;
}

.top-part {
  background-color: #000000;
}

#top {
  margin-left: 50px;
  color: white;
}

.header-bar nav {
  box-shadow: 0 0 5px;
  width: 150px;
  height: 250px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.603);
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;
}

.header-bar h2 {
  margin-left: 400px;
  margin-top: 50px;
}

.main-table {
  width: 600px;
  height: 300px;
  margin-bottom: 50px;
  margin-left: 400px;
  border: 10px solid rgb(192, 15, 15);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.header-bar a {
  display: block;
  margin-top: 20px;
}

.dropme {
  display: block;
  margin-bottom: 5px;
}

.after-form {
  text-align: center;
}

.after-form input {
  margin-bottom: 10px;
}

.dropme-input,
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container p {
  text-align: center;
  font-size: 0.9em;
}
